<div class="header1">
    <div class="header1__logo-wrapper">
        <h2 class="header1__title">Craft 3 test</h2>
        <p class="header1__text">sp2 learning</p>
    </div>
    <nav>
        {% include 'components/menu/_menu.twig' %}
    </nav>
</div>