<div class="header1">
    <div class="header1__logo-wrapper">
        <h2 class="header1__title">Craft 3</h2>
        <p class="header1__text">Voor fans van LotR & Star Wars</p>
    </div>
    <nav>
        {% include 'components/menu/_menu.twig' %}
    </nav>
</div>