<div class="footer">
    <h4 class="footer__title">Jarno Verhoogt</h4>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/disclaimer">Disclaimer</a>
        </li>
        <li>
            <a href="/privacyverklaring">Privacyverklaring</a>
        </li>
        <li>
            <a href="/algemene-voorwaarden">Algemene voorwaarden</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>