<div class="block__general-content">
    <section>
        <img src="" alt="">
        <h3>{{ block.generalTitle }}</h3>
        <p>{{ block.generalDescription }}</p>
    </section>
    <section class="block__general-content__copy">
        <p>{{ block.generalText }}</p>
    </section>
</div>