<div class="block__article-item">
    <section>
        <img src="" alt="">
        <h1>{{ articleItem.title }}</h1>
        <h2>{{ articleItem.subTitle }}</h2>
        <p>{{ articleItem.text }}</p>
    </section>
</div>