/* --- Blocks: Article Overview --- */

.block__articles-overview a {
  a {
    text-decoration: none;
    margin-top: 30px;
    float: left;
    width: 100%;

    &:first-of-type {
      margin-top: 0;
    }
  }
}