/* --- Header: 1 --- */

.header1 {
  position: fixed;
  width: 100%;
  background-color: tomato;
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
  color: white;
  padding-left: 20px;
  z-index: 999;

  &__logo-wrapper {
    float: left;
  }
}